html{
    font-size:20px;
    display:inline;
}
html, body{
height: 100%;
margin: 0;

}
header{
    display: block;
    height:64px;
    width: 100%;
    margin-left: 24px;
    background-color: aliceblue;
    align-items: center;
}
.header-container{
    display:inline-flexbox;
    display: block;
}
nav{
    
}
ul{
    display:flex;
    text-align:right;
    justify-content: space-around;
    align-items:flex-end;
}
.logo{
    margin-top: 16px;
    height: 32px;
    align-items: center;
}