html{
    font-size:20px;
    display:inline;
}
html, body{
height: 100%;
margin: 0;

}
header{
    display: inline-flex;
    height:64px;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    background-color: aliceblue;
    align-items: stretch;
}
.header-container{
    display:inline;
    display: block;
}
nav{
    align-items: stretch;
}

ul{
    list-style-type: none;
    display:flex;
    border-width: 16px;
}
.logo{
    margin-top: 16px;
    margin-bottom: 16px;
    height: 32px;
    align-items: center;
}
li{
    margin-left: 16px;
    margin-right: 16px;
    align-items: left;
    align-items: flex-end;
}
.banner-container{
    margin: 24px 32px;
    width: 60%;
}