html{
    font-family: 'Roboto', sans-serif;
    font: size 16px;
    display:inline;
}
html, body{
height: 100%;
margin: 0;

}
header{
    display: inline-flex;
    height:64px;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    background-color: aliceblue;
    align-items: stretch;
}
.logo{
    margin-top: 16px;
    margin-bottom: 16px;
    height: 32px;
    align-items: center;
}
#logo-text{
    text-align: justify;
    
}
.header-container{
    display:inline;
    display: block;
}
nav{
    width: 100%;
    margin-right: 24px;
    display: inline-flex;
    align-items: center;
    justify-content:flex-end;
}

ul{
    list-style-type: none;
    display:flex;
    border-width: 16px;
}

li{
    margin-left: 16px;
    margin-right: 16px;
    align-items:left;
    align-items: flex-end;
}
.benner-article{
    background-color:gray;
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.banner-container{
    margin: 32px 24px;
    width: 60%;
}
.article{
    margin: 24px;
    }
    h1{
        font-size: 80px;
    }

button{
    width: 70%;
    font-size: 45px;
    border:8px;
    background-color:black;
    color:white;
}
.information-container{
    display: flex;
    margin-left: 24px;
}
.information-container-main{
    width:60%;

}
.imag-main{
    width: 95%;
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 24px;
}
h2{
    margin: 32px 24px 24px;
    text-align: center;
    font-size: 45px;
}
.information-paragraf{
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 32px;

}
.information-container-info{
    display: flex;
    flex-direction: column;
    width:40%;
}
.information-container-gests{
    width: 40%;
    display: inline-flex;
}
.information-img-container{
    display:flexbox;
    width:35%;
    margin-top: 32px;
}
.info-img{
    width:35%;
    height:auto;
    margin:16px;
}

.date-container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
h3{
    font-size: 30px;
}
.orientation-container{
    margin-top: 32px;
    width: 100%;
    display: flex;
}
.campus-container{
    display: flex;
}
.info-text{
    align-items:center;
    margin: 16px;
}
.guest-container{
    display: flex;
    background-color:gray;
}